@charset "UTF-8";
/* CSS Document */

.jon {
	text-align: center;
	color: aliceblue;
	font-size: 50px;
	margin: 60px;
	padding: 100px;
	background: url(../../image/web-design-background-montreal-1-1200x630.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	left: 20px;
	margin-top: 150px;
		
}


#res{
	color: whitesmoke;
	font-size: 30px;
	
}

#cont2{
	height: 100vh;
	display: inline-block;
}
	


#cont {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex_item1 {
	margin-top: 190px;
	margin-left: 100px;
	color: whitesmoke;
	font-size: 30px;
	display: inline-block;
}


body {
	background-image: url(../../image/wallpaper2you_109379.jpg);
	
	width: 100%;
}

.nav {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}


.tel_icon {
	background-color: black;
	padding: 5px 15px 10px 15px;
	box-sizing: content-box;
}

.tel_icon:hover {

	background-color: whitesmoke;
	color: black;
	text-shadow: 0.1em 0.1em 0.15em;

}

#logo{
	float: left;
	
}


a {
	letter-spacing: 2px;
	padding: 15px 65px 15px 65px;
	display: inline-block;
	background-color: black;
	color: deepskyblue;
	text-decoration: none;

}

a:hover,
a:active {
	background-color: white;
	color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 90px;
}

.jj {

	text-align: center;
	font-size: 50px;
	color: whitesmoke;

}

#info {
	color: whitesmoke;
	font-size: 25px;
}



input[type=text],
select,
textarea {
	width: 70%;
	padding: 12px;
	border: 1px solid #E9E9E9;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0px;
	display: inline-block;
}

input[type=submit] {
	background-color: dimgray;
	color: deepskyblue;
	padding: 15px 20px;
	border: none;
	border-radius: 7px;
	cursor: pointer;

}

input[type=submit]:hover {
	background-color: gainsboro;
}

.container {

	color: whitesmoke;
	font-size: 20px;
	margin-top: 30%;
	margin-left: 300px;
	margin-bottom: 60px;

}

.col-25 {

	width: 80%;
	margin-top: 6px;
}

.col-75 {

	width: 50%;
	margin-top: 6px;
}


.fo:after {
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

#ja {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}


.ser {
	position: relative;
	top: 40px;
	text-align: center;
	color: whitesmoke;
	font-size: 40px;

}


.col1 {
	margin: auto;
	width: 30%;
	position: relative;
	top: 50px;
	display: inline-block;
}

.col2 {
	float: right;
	color: whitesmoke;
	margin: auto;
	width: 30%;
	display: inline-block;
}

.column h6 {
	text-align: center;
	color: whitesmoke;
	font-size: 30px;
	position: relative;
	top: 30px;
}

.row::after {
	content: "";
	clear: both;

	background-size: cover;
	display: inline-block;
}



.flex_container {
	height: 80vh;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-content: center;
}


.flex_item {

	width: 100%;
	height: 100%;
	border: 1px solid black;
	
}

.forms {
  float: right;
  width: 33.33%;
  padding: 5px;
	margin-top: 140px;
}

.serv::after {
  content: "";
  clear: both;
  display: table;
}

.serv {
  display: flex;
}

.forms {
  flex: 20%;
  padding: 4px;
}

.par{
	color: whitesmoke;
	display: inline-block;
	margin-top: 90px;
	position: relative;
	left: 270px;
	font-size: 30px;
	letter-spacing: 1px
	
}

.par2{
	color: whitesmoke;
	display: inline-block;
	margin-top: 90px;
	position: relative;
	left: 200px;
	font-size: 35px;
	letter-spacing: 1px
	
}

.prog {
	height: 50vh;
	display: flex;

	
}

.site{
	position: relative
	width: 500px;
	
}

